DATABASE_URL=postgresql://postgres:[PASSWORD]@db.emzzbhssbklqkxfheczl.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:[PASSWORD]@db.emzzbhssbklqkxfheczl.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://emzzbhssbklqkxfheczl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SECRET_KEY=
JWT_SECRET=change-me
REDIS_URL=redis://localhost:6379
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
